@model IEnumerable<AdSuit.DAL.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<br />
<p>
    <input type="button" class="btn btn-info" value="Create New Employee" onclick="location.href='@Url.Action("Create", "Employee")'" />
</p>

<div class="modal fade" tabindex="-1" role="dialog" id="kayitFormu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Employee Details</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row row-bosluk">
                        <div class="col-md-4">
                            <strong>Name</strong>
                        </div>
                        <div class="col-md-8">
                            <span id="EmployeeName"></span>
                        </div>
                    </div>
                    <div class="row row-bosluk">
                        <div class="col-md-4">
                            <strong>Surname</strong>
                        </div>
                        <div class="col-md-8">
                            <span id="EmployeeSurname"></span>
                        </div>
                    </div>
                    <div class="row row-bosluk">
                        <div class="col-md-4">
                            <strong>Tags</strong>
                        </div>
                        <div class="col-md-8">
                            <span id="_Tags"></span>
                        </div>
                    </div>
                    <div class="row row-bosluk" id="ContactInfoHeader">
                        <div class="col-md-4">
                            <strong>Contact Informations</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Employees</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>  

@section Scripts
{
   
    <script type="text/javascript">

        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#assets-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("Get","Employee")"
                        },
                        "columns": [
                            { "title": "Name", "data": "Name", "searchable": true },
                            { "title": "Surname", "data": "Surname", "searchable": true },
                            { "title": "Tags", "data": "Tags", "searchable": true },
                            {
                                "title": "Create Date",
                                "data": "CreateDate",
                                "type": "date ",
                                "render": function (value) {
                                    if (value === null) return "";

                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));

                                    return dt.getDate() + "." + (dt.getMonth() + 1) + "." + dt.getFullYear();},
                                 "searchable": false
                            },
                            {
                                data: "ID", "bSearchable": false,
                                bSortable: false,
                                mRender: function (data, type, full) {
                                    return '<a href="Employee/Edit/' + data + '"" class="openDialog btn btn-default btn-warning"  >Edit</a> &nbsp;&nbsp;'
                                            + '<input type="button" class="DetaisEmployee btn btn-default btn-success" value="Details" onclick="ViewEmployeeDetail(' + data + ')" />&nbsp;&nbsp;'
                                           + '<input type="button" class="deleteEmployee btn btn-default btn-danger" value="Delete" onclick="DeleteEmployee(' + data + ')" />';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatables
            assetListVM.init();

        });

    </script>
    <script src="~/Scripts/Employee/Employee.js"></script>

}
 
